.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}

.title {
  background-color: #14848e;
  padding-inline: 10px;
  height: 50px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.aligne-sous-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;

}

.sous-title {
  height: 70px;
  margin: 10px;
  padding-inline: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #14848e;
}

.icon {
  font-size: 40px;
}

.chart-container {
  width: 50%;
  height: 450px;
}

@media (max-width: 802px) {
  .aligne-sous-title {
    display: flex;
    flex-wrap: wrap;
  }
}
