ngx-charts-line-chart {
    display: flex;
    margin-top: 15px;
    justify-content: center;
  }
  
  .line-chart__tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 90px;
    font-size: 20px;
    background-color: #04838f;
  }

  .line-chart__tooltip--count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-size: 20px;
    color: #fff;
    display: flex;
  }

  .line-chart__tooltip--count  svg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    
  }

  ::ng-deep .ngx-charts-tooltip-content.type-tooltip {
    background-color: #04838f !important;
    color: white !important;
  }