<div class="container">
    <div class="row header">
        <img src="../../../assets/images/TeleSport.png" alt="TeleSportPNG">
    </div>
    <!-- <div class="row">
        <h2>Olympic games app</h2>
        <hr />
    </div> -->
    <div class="row content">
        <!-- <div class="content"> -->
            <p>Ce graphique à pour but de vous montrer la sommes des médailles obtenues par pays organisateur lors de
                chaque
                Jeux Olympique.</p>
        <!-- </div> -->
    </div>

    <div class="row content">
        <app-pie-chart></app-pie-chart>
    </div>
</div>