/* Voir élément plus grand afin de debogger */
// *{
//    box-shadow: 0 0 0 3px red
//    inset;
//}


.container .header {
  //background: #98C3D8;
  border-radius: 20px;
  display: flex;
  justify-content: left;
  width: 100%;
}

.container .header img {
  align-items: flex-start;
  width: 30%;
  object-fit: cover;
  border-radius: 20px;
  margin: 0 0 5px 0;
}

.container .header-text {
  display: flex;
  justify-content: center;
}

.container .header-text h6 {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  font-weight: lighter;
  background: #04838F;
  border: none;
  border-radius: 5px;
  width: fit-content;
  margin: 30px;
}

.container .info {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.container .info .bulle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #04838F;
}

.container .info .bulle:nth-child(1) {
  margin-right: 30px;
  margin-left: 20px;
}

.container .info .bulle label:nth-child(1) {
  opacity: 0.5;
  margin-bottom: 5px;
}

.container .info .bulle label:nth-child(2) {
  font-weight: bold;
}

.card-content {
  width: 100%;
  justify-content: center;
  display: flex;
}

.content {
  margin-top: 5px;
  padding: 5px;
  justify-content: center;
  border-radius: 20px;
  position: relative;
}


@media (max-width: 463px) {
  .container .header-text h6 {
    font-size: 1.5rem;
  }

  .container .info .bulle label:nth-child(1) {
    font-size: 0.9rem;
  }
}

@media (max-width: 431px) {
  .container .header img{
    display: none;
  }
  .container .info .bulle label:nth-child(1) {
    font-size: 0.6rem;
  }
}

@media (max-width: 407px) {
  .container .header img{
    display: none;
  }
  .container .info .bulle label:nth-child(1) {
    font-size: 0.6rem;
  }
}
