html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.container{
    height: 100%;
    width: 100%;
    min-height: 100%;
}

.container .header {
    background: #98C3D8;
}

.header img {
    align-items: center;
    width: 1000px;
    height: 0%;
    object-fit: cover;
}

.content{
    padding: 5px;
    display: flex;
    justify-content: center;
}