<div class="conteneur">
    <div class="one">
        <a routerLink="/">Home</a>
    </div>
    <div class="two">
        <div class="header-label">
            {{ labeldata }}
        </div>
    </div>
    <div class="three">
        <div class="info-content">
            <section>Numbers of entries</section>
            <section>{{ numberEntries }}</section>
        </div>
    </div>
    <div class="four">
        <div class="info-content">
            <section> Total number medals</section>
            <section> {{ medaldata }}</section>
        </div>
    </div>
    <div class="five">
        <div class="info-content">
            <section>Number of athletes</section>
            <section>{{ totalAthletes }}</section>
        </div>
    </div>
    <div class="six">
        <div class="card">
            <div class="chart-container">
                <canvas id="MyChart">{{ chartdata }}</canvas>
            </div>
        </div>
        
    </div>
</div>