.conteneur {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.one {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
}

a {
    background: black;
    border: 2px;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: medium;
    font-style: normal;
}

a:hover {
    background: rgb(29, 113, 209);
}

.two {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
}

.header-label {
    display: flex;
    font-size: xx-large;
}

.three {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
}



.four {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 4;
}

.five {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 6;
}

.info-content {
    padding: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
}

section:last-child {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.six {
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 8;
}

.card {
    background: #e6e3e3ea;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.chart-container {
    display: flex;
    justify-content: center;
}