

<div class="container">
  <mat-card class="header-card">
    <mat-card-title>Medals per Country</mat-card-title>
  </mat-card>

  <div class="stats-container">
    <mat-card class="stat-card">
      <mat-card-content>
        <p class="stat-title">Number of JOs</p>
        <h4 class="stat-value">{{ totalGames }}</h4>
      </mat-card-content>
    </mat-card>

    <mat-card class="stat-card">
      <mat-card-content>
        <p class="stat-title">Number of countries</p>
        <h4 class="stat-value">{{ barChartLabels.length }}</h4>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="chart-container">
    <canvas
      baseChart
      [datasets]="barChartData.datasets"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [type]="barChartType"
      (chartClick)="onCountryClick($event)"
    ></canvas>
  </div>
</div>
